@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
    /* variable for border */
    --border: 1px solid gray; 
    
    
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}
.outter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.sedans{
    border: none;
    background-color: hsl(31, 77%, 52%) ;
    height: 450px;
    width: 250px;
    padding-left: 45px;
    line-height: 1.6;
    border-radius: 12px 0px 0px 12px;
}
.sedans >button{
    color: hsl(31, 77%, 52%);
}
img{
    padding-top: 32px;
    padding-bottom: 23px;
    width: 55px;
    height: auto;
}
h1{
    padding-bottom: 23px;
    color: hsl(0, 0%, 95%);
}
p{
    padding-bottom: 75px;
    width: 210px;
    color: hsla(0, 0%, 100%, 0.75);
}
.suvs{
    border: none;
    background-color: hsl(184, 100%, 22%);
    height: 450px;
    width: 250px;
    padding-left: 45px;
    line-height: 1.6;
}
.suvs >button{
    color: hsl(184, 100%, 22%);
}
.luxury{
    border: none;
    background-color: hsl(179, 100%, 13%);
    height: 450px;
    width: 250px;
    padding-left: 45px;
    line-height: 1.6;
    border-radius: 0px 12px 12px 0px;
}
.luxury >button{
    color: hsl(179, 100%, 13%);
}
button{
    width: 135px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: hsl(0, 0%, 95%);
}
@media screen and (max-width: 879px) {
    .main-container {
        flex-direction: column;
    }
    .sedans, .suvs, .luxury {
        max-width: none; /* Allow full-width stacking on smaller screens */
    }
    .sedans {
        border-radius: 12px 12px 0px 0px;
    }
    .luxury {
        border-radius: 0px 0px 12px 12px;
    }
}